/* header.html.twig */
.header {
    background-color: #dccfbe;
    height: 20px;
}
.form-select {
    color: #542525;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header-button-go {
    background-color: #f56247;
    color: #865D5D ;
    border-radius: 50%;
    border: none;
    width: 4rem;
    height: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-button-dashboard {
    background-color: #865D5D;
    color: #dccfbe ;
    border: none;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}