{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}

    <h1 class="text-center rounded-top" style="text-decoration: overline; color: #542525; background-color: #dccfbe;">
        Tableau de bord d'administration du site www.Mercadona.es
    </h1>
    <div class="d-flex justify-content-center"><a 
        class="dashboard-button-catalog btn mt-2 w-auto"
        style="background-color: #f56247; color: #542525;"
        href="{{ path('app_product') }}">Retour au catalogue
    </a></div>

{% endblock %}

{% block main %}

<div class="container-fluid rounded-bottom" style="color: #542525; background-color: #dccfbe;">
    <h2 class="text-center pt-2" style="color: #f56247;">
        Bienvenue dans votre espace administration !
    </h2>
    <p class="text-center fs-5" style="color: #542525; text-decoration: overline;">
        Sélectionner un type de gestion ci-dessous pour voir la procédure associée
    </p>
    <br>
    <p class="row">
        <button 
            class="btn col-6"
            style="background-color: #865d5d; color: #f56247;"
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#productsManagement">Gestion des produits
        </button>
        <button 
            class="btn col-6"
            style="background-color: #865d5d; color: #f56247;"
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#categoriesManagement">Gestion des catégories
        </button>
    </p>
    <div class="row">
        <div class="col-6">
            <div class="collapse" id="productsManagement">
                <div class="card card-body mb-3" style="background-color: #dccfbe;">
                    <ol class="fs-4" style="list-style: upper-roman; color: #542525;">
                        <p class="fs-5 fw-bold text-center">A partir du menu 'Products'</p>
                        <li style="color: #f56247;">
                            <h4 class="text-decoration-underline" style="color: #f56247;">
                                Création d'un produit :
                            </h4>
                        </li>
                            <ul class="fs-6" style="list-style: none;">
                                <li>
                                    -> Bouton 'Add Product',
                                </li>
                                <li>
                                    -> Remplir le formulaire avec le label du produit, sa description, 
                                    son prix (ex : 45.99), sa catégorie (obligatoire - si elle 
                                    n'existe pas, la créer avant de créer le produit), une image du 
                                    produit (facultative mais fortement conseillée) et une promotion 
                                    (facultative),
                                </li>
                                <li>
                                    -> Bouton 'Create' ou 'Create and add another' pour plusieurs 
                                    créations d'affilées.
                                </li>
                            </ul>
                        <li style="color: #f56247;">
                            <h4 class="text-decoration-underline" style="color: #f56247;">
                                Modification d'un produit :
                            </h4>
                        </li>
                            <ul class="fs-6" style="list-style: none;">
                                <li>
                                    -> Bouton '...' puis 'Edit',
                                </li>
                                <li>
                                    -> Modifier le(s) champs concerné(s) du formulaire (IMPORTANT : 
                                    lors de la modification d'une image, cocher la case 'delete?' 
                                    afin de supprimer l'ancienne image),
                                </li>
                                <li>
                                    -> Bouton 'Save changes' ou 'Save and continue editing' pour rester 
                                    dans la page d'édition.
                                </li>
                            </ul>
                        <li style="color: #f56247;">
                            <h4 class="text-decoration-underline" style="color: #f56247;">
                                Suppression d'un produit :
                            </h4>
                        </li>
                            <ul class="fs-6" style="list-style: none;">
                                <li>
                                    -> Bouton '...' puis 'Delete',
                                </li>
                                <li>
                                    -> Confirmer la suppression ou annuler.
                                </li>
                            </ul>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="collapse" id="categoriesManagement">
                <div class="card card-body mb-3" style="background-color: #dccfbe;">
                    <ol class="fs-4" style="list-style: upper-roman; color: #542525;">
                        <p class="fs-5 fw-bold text-center">A partir du menu 'Categories'</p>
                        <li style="color: #f56247;">
                            <h4 class="text-decoration-underline" style="color: #f56247;">
                                Création d'une catégorie :
                            </h4>
                        </li>
                            <ul class="fs-6" style="list-style: none;">
                                <li>
                                    -> Bouton 'Add Category',
                                </li>
                                <li>
                                    -> Remplir le label de la catégorie,
                                </li>
                                <li>
                                    -> Bouton 'Create' ou 'Create and add another' pour plusieurs 
                                    créations d'affilées.
                                </li>
                            </ul>
                        <li style="color: #f56247;">
                            <h4 class="text-decoration-underline" style="color: #f56247;">
                                Modification d'une catégorie :
                            </h4>
                        </li>
                            <ul class="fs-6" style="list-style: none;">
                                <li>
                                    -> Bouton '...' puis 'Edit',
                                </li>
                                <li>
                                    -> Modifier le label de la catégorie,
                                </li>
                                <li>
                                    -> Bouton 'Save changes' ou 'Save and continue editing' pour 
                                    rester dans la page d'édition.
                                </li>
                            </ul>
                        <li style="color: #f56247;">
                            <h4 class="text-decoration-underline" style="color: #f56247;">
                                Suppression d'une catégorie :
                            </h4>
                        </li>
                            <ul class="fs-6" style="list-style: none;">
                                <li>
                                    -> Bouton '...' puis 'Delete',
                                </li>
                                <li>
                                    -> Confirmer la suppression ou annuler.
                                </li>
                            </ul>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <p class="row">
        <button 
            class="btn col-6"
            style="background-color: #865d5d; color: #f56247;"
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#discountsManagement">Gestion des promotions
        </button>
        <button 
            class="btn col-6"
            style="background-color: #865d5d; color: #f56247;"
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#adminsManagement">Gestion des administrateurs
        </button>
    </p>
    <div class="row">
        <div class="col-6">
            <div class="collapse" id="discountsManagement">
                <div class="card card-body mb-3" style="background-color: #dccfbe;">
                    <ol class="fs-4" style="list-style: upper-roman; color: #542525;">
                        <p class="fs-5 fw-bold text-center">A partir du menu 'Discounts'</p>
                        <li style="color: #f56247;">
                            <h4 class="text-decoration-underline" style="color: #f56247;">
                                Création d'une promotion :
                            </h4>
                        </li>
                            <ul class="fs-6" style="list-style: none;">
                                <li>
                                    -> Bouton 'Add Discount',
                                </li>
                                <li>
                                    -> Remplir le formulaire avec le label de la promotion, le 
                                    pourcentage de réduction (ex: 10 pour 10%) et les dates et heures 
                                    de début et fin,
                                </li>
                                <li>
                                    -> Bouton 'Create' ou 'Create and add another' pour plusieurs 
                                    créations d'affilées.
                                </li>
                            </ul>
                        <li style="color: #f56247;">
                            <h4 class="text-decoration-underline" style="color: #f56247;">
                                Modification d'une promotion :
                            </h4>
                        </li>
                            <ul class="fs-6" style="list-style: none;">
                                <li>
                                    -> Bouton '...' puis 'Edit',
                                </li>
                                <li>
                                    -> Modifier le(s) champs concerné(s) du formulaire,
                                </li>
                                <li>
                                    -> Bouton 'Save changes' ou 'Save and continue editing' pour 
                                    rester dans la page d'édition.
                                </li>
                            </ul>
                        <li style="color: #f56247;">
                            <h4 class="text-decoration-underline" style="color: #f56247;">
                                Suppression d'une promotion :
                            </h4>
                        </li>
                            <ul class="fs-6" style="list-style: none;">
                                <li>
                                    -> Bouton '...' puis 'Delete',
                                </li>
                                <li>
                                    -> Confirmer la suppression ou annuler.
                                </li>
                            </ul>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="collapse" id="adminsManagement">
                <div class="card card-body mb-3" style="background-color: #dccfbe;">
                    <ol class="fs-4" style="list-style: upper-roman; color: #542525;">
                        <p class="fs-5 fw-bold text-center">A partir du menu 'Administrateurs'</p>
                        <li style="color: #f56247;">
                            <h4 class="text-decoration-underline" style="color: #f56247;">
                                Création d'un administrateur :
                            </h4>
                        </li>
                            <ul class="fs-6" style="list-style: none;">
                                <li>
                                    -> Bouton 'Add Admin',
                                </li>
                                <li>
                                    -> Remplir le formulaire avec le username de l'administrateur, 
                                    le mot de passe (2 fois) et le role 'ROLE_ADMIN',
                                </li>
                                <li>
                                    -> Bouton 'Create' ou 'Create and add another' pour plusieurs 
                                    créations d'affilées.
                                </li>
                            </ul>
                        <li style="color: #f56247;">
                            <h4 class="text-decoration-underline" style="color: #f56247;">
                                Modification d'un administrateur :
                            </h4>
                        </li>
                            <ul class="fs-6" style="list-style: none;">
                                <li>
                                    -> Bouton '...' puis 'Edit',
                                </li>
                                <li>
                                    -> Modifier le(s) champs concerné(s) du formulaire,
                                </li>
                                <li>
                                    -> Bouton 'Save changes' ou 'Save and continue editing' pour 
                                    rester dans la page d'édition.
                                </li>
                            </ul>
                        <li style="color: #f56247;">
                            <h4 class="text-decoration-underline" style="color: #f56247;">
                                Suppression d'un administrateur :
                            </h4>
                        </li>
                            <ul class="fs-6" style="list-style: none;">
                                <li>
                                    -> Bouton '...' puis 'Delete',
                                </li>
                                <li>
                                    -> Confirmer la suppression ou annuler.
                                </li>
                            </ul>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}