<footer class="w-100">
    <div class="container-fluid footer text-center">
        <div class="row p-2">
            <div class="col-4"></div>
            <div class="footer-copyright col-4 d-flex justify-content-center align-items-center"> 
                <span>www.mercadona.es © 2023</span>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                    <a href="#"><img class="network-icon" src={{ asset('images/networks/facebook.png') }} alt="Logo facebook"></a>
                    <a href="#"><img class="network-icon" src={{ asset('images/networks/twitter.png') }} alt="Logo twitter"></a>
                    <a href="#"><img class="network-icon" src={{ asset('images/networks/pinterest.png') }} alt="Logo pinterest"></a>
                    <a href="#"><img class="network-icon" src={{ asset('images/networks/instagram.png') }} alt="Logo instagram"></a>
            </div>
        </div>
    </div>
</footer>